---

maintenance_global_exclude_tasks: []
maintenance_host_exclude_tasks: []
maintenance_exclude_tasks: "{{ maintenance_global_exclude_tasks + maintenance_host_exclude_tasks }}"

linux_serverlogs_root_alias: serverlogs@example.org

linux_allowed_ssh_authorized_keys: []

linux_additional_ssh_authorized_keys: []

linux_allowed_ssh_nss_backends:
  - files
  - compat
  - db
  - systemd
linux_allowed_ssh_ignored_nss_backends: []

# linux_allowed_login_since: loaded via OS specific vars, as older systems don't support --since yet

linux_allowed_login_users:
  - root

linux_additional_allowed_login_users: []

linux_allowed_login_ips: []

linux_additional_allowed_login_ips: []

# Exclude logfiles that are managed via some other mechanism than logrotate
# or are not managed but not concerning
linux_allowed_unmanaged_logs:
  - "/var/log/fontconfig.log"
  - "/var/log/audit/audit.log"
  - "/var/log/alternatives.log"
  - "/var/log/cloud-init.log"
  - "/var/log/cloud-init-output.log"
  - "/var/log/azure/"
  - "/var/log/YaST2/config_diff_*"
  - "/var/log/waagent.log" # waagent log is only rotated if >20MB, causing false positives
  - "/var/log/lastlog"
  - "/var/log/instance_billing_flavor_check" # SLES specific, not rotated

linux_additional_allowed_unmanaged_logs: []

# Use large_logfiles_prune to exclude large directory trees (e.g. userhomes, backup volumes, ...) from the search of 10-037
linux_large_logfiles_prune:
  - /mnt

linux_additional_large_logfiles_prune: []

# ... and use allowed_large_files to exclude single files or small directories from the result
# Matches start of path!
# Completely separate from linux_allowed_unmanaged_logs: Include files in /var/log here
# again that need to be ignored by both 10-034 and 10-037.
linux_allowed_large_files:
  - "/var/cache/apt/.*pkgcache.bin$"
  - "/var/cache/apt/archives/"
  - "/boot/vmlinuz"
  - "/boot/initrd"
  - "/boot/initramfs"
  - "/var/lib/dirsrv/"
  - "/var/lib/docker/.*"
  - "/var/log/journal/"
  - "/var/lib/rpm/Packages$"
  - "/var/cache/yum/"
  - "/usr/lib/sysimage/rpm/Index.db"
  - "/usr/lib/sysimage/rpm/Packages.db"
  - "/var/adm/backup/rpmdb/Packages.db.*"
  - "/var/log/waagent.log" # waagent log is only rotated if >20MB, causing false positives
  - "/var/log/lastlog"
  - "/var/log/instance_billing_flavor_check" # SLES specific, not rotated

linux_additional_allowed_large_files: []

# needs to be a numeric value, as it's used for various calculations in tasks/main.yml
linux_allowed_large_logfiles_maxsize_mb: 16

linux_excluded_logs_per_host: []

linux_allow_var_log:
  - "/var/log/*"
