---

- name: This task only serves as a template for the tasks below
  ansible.builtin.set_fact:
    ignoreme: &task
      name: "{{ vars.taskid }}: {{ vars.name }}"
      register: task
      when:
        - "vars.taskid not in maintenance_exclude_tasks"
        - "maintenance_only is not defined or maintenance_only == vars.taskid"
  vars:
    taskid: ignore-me
    name: bar

- <<: *task
  vars:
    taskid: 14-001
    name: "Apparmor: Check if apparmor is enabled and enforcing"
  ansible.builtin.command: aa-status
  changed_when: "task.rc != 0"
  failed_when: "task.rc == 4"  # Insufficient permission to check AA policies.

- <<: *task
  vars:
    taskid: 14-002
    name: "Check if the system is properly registered at SUSE"
  ansible.builtin.command: SUSEConnect --status-text
  register: suseconnect_status_output
  changed_when: "'Not Registered' in suseconnect_status_output.stdout"

- <<: *task
  vars:
    taskid: 14-003
    name: "Zypper: Update package lists and check for errors"
  community.general.zypper:
    name: '*'
    update_cache: true

- <<: *task
  vars:
    taskid: 14-004
    name: "Zypper: Check for available updates and review them"
  community.general.zypper:
    name: '*'
    state: latest
  check_mode: true
  register: zypper_updates_output

- <<: *task
  vars:
    taskid: 14-006
    name: "Zypper: Check for orphaned and unneeded packages and either fix or uninstall them if not needed anymore"
  ansible.builtin.command: zypper packages --orphaned --unneeded
  register: sles_packages_status
  check_mode: false
  changed_when: false
  failed_when: "sles_packages_status.rc not in [0, 1]"

- <<: *task
  vars:
    taskid: 14-006
    name: "Zypper: Check for orphaned and unneeded packages and either fix or uninstall them if not needed anymore"
  ansible.builtin.debug:
    var: "sles_packages_status.stdout_lines"
  changed_when: "sles_packages_status.stdout_lines | length > 0"
