---

- name: This task only serves as a template for the tasks below
  ansible.builtin.set_fact:
    ignoreme: &task
      name: "{{ vars.taskid }}: {{ vars.name }}"
      register: task
      when:
        - "vars.taskid not in maintenance_exclude_tasks"
        - "maintenance_only is not defined or maintenance_only == vars.taskid"
  vars:
    taskid: ignore-me
    name: bar

- name: Gather apt_sources facts
  adfinis.facts.apt_sources_facts: {}

- <<: *task
  vars:
    taskid: 11-011
    name: "Security: Are the security updates in the sources.list?"
  check_mode: yes
  ansible.builtin.assert:
    that: >-
      ansible_facts.apt_sources
      | selectattr('uri', 'eq', debian_sources_list_security_uri)
      | selectattr('suites', 'contains', debian_sources_list_security_suite)
      | selectattr('types', 'contains', 'deb')
      | selectattr('components', 'contains', 'main')
      | length > 0
    fail_msg: >-
      debian-security repository missing: deb {{ debian_sources_list_security_uri }} {{ debian_sources_list_security_suite }} main
  changed_when: task.failed
  failed_when: no

- <<: *task
  vars:
    taskid: 11-012
    name: "Repository: Check if repository is set to release name (e.g. 'bullseye') and not to 'stable' | Check all sources.list files"
    source_entry: "{{ item.1.filename }}: {{ item.1.uri }} {{ item.1.suites }} -> {{ ansible_facts.distribution_release }}"
  check_mode: yes
  ansible.builtin.debug:
    msg: "{{ source_entry }}"
  changed_when:
    - "item.0 in item.1.suites"
    - "item.1.uri not in debian_release_name_ignore_uris"
  with_nested:
    - [stable, oldstable, oldoldstable]
    - "{{ ansible_facts.apt_sources }}"

- <<: *task
  vars:
    taskid: 11-013
    name: "For old distributions, has the repository been moved to http://archive.debian.org/ already? | Test archive.debian.org"
  ansible.builtin.uri:
    url: "http://archive.debian.org/debian/dists/{{ ansible_facts.distribution_release }}/Release"
    method: HEAD
    status_code: [200, 404]
  register: debian_archive_repo_url
  changed_when: no

- <<: *task
  vars:
    taskid: 11-013
    name: "For old distributions, has the repository been moved to http://archive.debian.org/ already? | grep sources.list"
  ansible.builtin.assert:
    that: >-
      ansible_facts.apt_sources
      | selectattr('types', 'contains', 'deb')
      | selectattr('uri', 'eq', 'http://archive.debian.org/debian/')
      | selectattr('suites', 'contains', ansible_facts.distribution_release)
      | selectattr('components', 'contains', 'main')
      | length > 0
    msg: >-
      Distribution has moved to archive.debian.org.  Apt sources need to be updated:
      deb http://archive.debian.org/debian/ {{ ansible_facts.distribution_release }} main
  # Even though this task runs all the time, the second changed_when rule causes it to only report a diff if running
  # on a distribution actually present on archive.debian.org.  Since the task is running in check mode, it doesn't do any
  # damage on non-archived distros, but won't report as changed.
  check_mode: yes
  failed_when: no
  changed_when:
    - "task.failed"
    - "debian_archive_repo_url.status == 200"

- <<: *task
  vars:
    taskid: 11-014
    name: "Update package lists and check for errors"
  ansible.builtin.apt:
    update_cache: yes
  changed_when: no

- <<: *task
  vars:
    taskid: 11-015
    name: "GPG-Keys: Are there errors because of not existing GPG Keys?"
  ansible.builtin.shell: apt-get update 2>&1 | grep -e 'Key is stored in legacy trusted.gpg keyring' -e 'GPG error:'  # noqa risky-shell-pipe
  register: debian_apt_update_status
  changed_when: no
  check_mode: no
  failed_when: "debian_apt_update_status.rc not in [0, 1]"

- <<: *task
  vars:
    taskid: 11-015
    name: "GPG-Keys: Are there errors because of not existing GPG Keys? | Report errors"
  ansible.builtin.debug:
    var: "debian_apt_update_status.stdout_lines"
  changed_when: "debian_apt_update_status.stdout_lines | length > 0"

- <<: *task
  vars:
    taskid: 11-016
    name: "dpkg status: Are there packages which do not have the dpkg status ii or hi? | Get list of matching packages"
  ansible.builtin.shell: dpkg -l | tail -n +6 | grep -vE '^[hi]i'  # noqa risky-shell-pipe  never fails
  register: debian_dpkg_status
  check_mode: no
  changed_when: no
  failed_when: "debian_dpkg_status.rc not in [0, 1]"

- <<: *task
  vars:
    taskid: 11-016
    name: "dpkg status: Are there packages which do not have the dpkg status ii or hi? | Report matching packages"
  ansible.builtin.debug:
    var: "debian_dpkg_status.stdout_lines"
  changed_when: "debian_dpkg_status.stdout_lines | length > 0"

- <<: *task
  vars:
    taskid: 11-017
    name: "apt: Simulate the package upgrade"
  ansible.builtin.apt:
    update_cache: yes
    upgrade: safe
  check_mode: yes

- <<: *task
  vars:
    taskid: 11-019
    name: "apt: Remove obsolete packages"
  ansible.builtin.apt:
    autoremove: yes
  check_mode: yes

- <<: *task
  vars:
    taskid: 11-020
    name: "boot-config: Check boot configuration: update initramfs"
  ansible.builtin.command: update-initramfs -u
  changed_when: no  # only requires human interaction in case of errors

- <<: *task
  vars:
    taskid: 11-020
    name: "boot-config: Check boot configuration: keep bootloader up to date"
  ansible.builtin.command: update-grub
  changed_when: no  # only requires human interaction in case of errors

- <<: *task
  vars:
    taskid: 10-061
    name: "Updates: Check if a major update is pending. | Update Debian distribution info"
  ansible.builtin.apt:
    name:
      - distro-info
      - distro-info-data
    state: latest  # noqa package-latest  we need the latest distro-info-data
    update_cache: yes
  changed_when: no  # Don't care if this task actually changed, it's only preparation for the following task

- <<: *task
  vars:
    taskid: 10-061
    name: "Updates: Check if a major update is pending. | Check release name against stable"
  ansible.builtin.command: distro-info --stable
  changed_when:
    - "ansible_facts.distribution_release != 'testing'"
    - "ansible_facts.distribution_release not in task.stdout_lines"
